@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-black;
  }

  body {
    @apply bg-white overflow-x-hidden;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 3px black;
    paint-order: stroke fill;
  }

  .text-stroke-thin {
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
  }
}
